# Ignore node_modules globally
/node_modules/
frontend/node_modules/

# Ignore package-lock.json (optional)
package-lock.json
frontend/package-lock.json

# Ignore package.json (optional)
package.json
frontend/package.json

# Ignore environment files
.env
frontend/.env
